* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font: 14px/1.5 Verdana, sans-serif;
}

body {
    font: inherit;
    padding: 2em;
    background: #eee;
}

.card {
    display: block;
    width: 400px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.2);
    border-radius: 0.3em;
    overflow: hidden;
    text-decoration: none;
    color: rgb(53, 53, 53)
}

.card span,
.card img {
    display: block;
}

.card .media img {
    width: 100%;
    height: auto;
}

.card .main {
    padding: 0.5em 2em;
}

h2 {
    margin-bottom: 0.5em;
}

.card .footer {
    padding: 1.5em 2em;
    padding-top: 0.5em;
}

.card .footer span:nth-child(2) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8em;
    font-style: italic;
}