details summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    position: relative;
}

details summary::before {
    content: "+";
    color: white;
    font-weight: bold;
    font-size: 1em;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

details[open]>summary::before {
    content: "-";
}

ul {
    list-style: none;
    padding-left: 20px;
    position: relative;
}

ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 12px;
    width: 2px;
    height: 100%;
    background-color: lightgray;
}

li {
    position: relative;
    padding-left: 20px;
}

li::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 15px;
    height: 2px;
    background-color: lightgray;
}