img {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;

}

.postcard {
    margin: 1em;
}

p {
    font-size: smaller;
}

.upper {
    text-align: center;
    position: relative;
}

h2 {
    padding-bottom: 0.5em;
}

.desctiption {
    background-color:rgb(230, 230, 230);
    border-radius: 0.5em;
    margin: 1em;
    padding: 1em;
    position: absolute;
    bottom: 10px;
}

.lower {
    margin-left: 1.3em;
}

.lower h3, .lower p {
    margin: 1em 0.5em;
}

p {
    color: rgb(122, 122, 122);
}

hr {
    width: calc(100% + 32px); 
    margin-left: -16px; 
    border: none; 
    height: 1px; 
    background: rgb(181, 181, 181);
}