
fieldset {
    padding: 2em;
    border: 2px solid #ccc;
    border-radius: 0.2em;
}



fieldset legend {
    padding: 0 1em;
    font-weight: bold;
}

fieldset:not(:last-child) {
    margin-bottom: 2em;
}

fieldset p {
    display: flex;
    gap: 0.5em;
}

input[type="radio"] {
    appearance: none;
    border: 1px solid rgb(255, 200, 0);
    width: 2em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(255, 153, 0);
    position: relative;

}

input[type="radio"]:checked::after {
    display: block;
    background-color: #ccc;
    inset: 0.2em;
    content: "";
    position: absolute;
    background: rgba(132, 18, 0, 0.367);
    border-radius: 50%;
}

input[type="checkbox"] {
    appearance: none;
    border: 2px solid rgb(255, 200, 0);
    border-radius: 25em;
    width: 4em;
    aspect-ratio: 2/1;
    background-color: rgb(255, 153, 0);
    position: relative;

}

input[type="checkbox"]::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0.2em;
    translate: 0 -50%;
    width: 1.5em;
    aspect-ratio: 1/1;
    background: rgb(255, 255, 255);
    border: 2px solid darkorange;
    border-radius: inherit;
    transition: left 0.2s ease-in;
}

input[type="checkbox"]:checked {
    background-color: rgb(172, 172, 172);
    border-color: rgb(141, 141, 141);
}

input[type="checkbox"]:checked::after {
    left: calc(100% - 1.5em);
}
