html {
    font: 16px/1.5 Helverica, sans-serif;
}

p, ul, ol {
    padding-bottom: 1.5rem;
}

ul, ol {
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia, serif;
}

blockquote {
    padding-left: 1.5rem;
    border-left: 2px solid black;
    margin-bottom: 1.5rem;
    font-style: italic;
}

blockquote p:last-child {
    padding-bottom: 0;
}

.koko {
    text-align: right;
}
