h1 {
    color: blue;
}

p {
    font-size: 32px;
}

.highlight {
    background-color: yellow;
}


#main-title {
    color: blue
}

ul {
    list-style-type: circle;
}

li {
    list-style-type: disc;
}