* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 6px;
}

.keyboard {
    background-color: hsl(0, 0%, 84%);
    border-radius: 0.8em;
    box-shadow: 0 0.6em 0 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border: 0.5px solid rgb(89, 89, 89);
}

.keyboard .row {
    display: flex;
    gap: 1em;
}

.keyboard .key {
    padding: 1em 1.4em;
    border: 0.1px solid rgb(165, 165, 165);
    box-shadow: 0 0.2em 0 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: rgb(249, 249, 249);
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}

.keyboard .key.special {
    background-color: rgb(185, 185, 185);
}

.keyboard .key.grow {
    flex: 1 1 auto;
}

.keyboard .key:active {
    top: 2px;
    box-shadow: none;
}

