.flex-container {
    width: 400px;
    Padding: 1em;
    Border: 2px solid blue;
    Display: flex;
    align-items: flex-start;

}

.flex-item {
    Background: #eee;
    Padding: 20px;
    Border: 2px solid #000;
    
}

